<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="/lib/materialize/css/materialize.css">
<<<<<<< HEAD
   <link rel="stylesheet" href="/css/index.css">
   <link rel="stylesheet" href="/css/timer.css">
   <link rel="stylesheet" href="/css/pastData.css">
=======
>>>>>>> master
   <script src="/lib/jquery/jquery-3.3.1.js"></script>
   <script src="/lib/materialize/js/materialize.js"></script>
   <script src="/lib/moment/moment.js"></script>
   <script src="/js/localStorage.js"></script>
   <script src="/js/timeCalc.js"></script>
   <title>Fasting Calculator</title>
</head>

<body>
   {{{ body }}}
</body>

</html>