<div id="fastData" class="container">
   <div class="row">
      <div class="col">
         <h1 id="fastDataUsername" class="center-align"><span id="username"></span>Fast Data</h1>
      </div>
      <div id="logout" class="col">
         <i class="medium material-icons custom-icon">navigate_before</i>
      </div>
      <div class="col s2">
         <i class="medium material-icons custom-icon">av_timer</i>
      </div>
   </div>
   <div id="dataHeader" class="row">
      <div class="col s4 center-align">Start Data &amp; Time</div>
      <div class="col s4 center-align">End Data &amp; Time</div>
      <div class="col s4 center-align">Total Fast Time</div>
   </div>
</div>
<script src="/js/fastData.js"></script>