<div id="fastData" class="container">
   <h1 id="fastDataUsername" class="center-align"><span id="username"></span>Fast Data</h1>
   <div id="dataHeader" class="row">
      <div class="col s4 center-align">Start Data &amp; Time</div>
      <div class="col s4 center-align">End Data &amp; Time</div>
      <div class="col s4 center-align">Total Fast Time</div>
   </div>
</div>
<script src="/js/fastData.js"></script>