<h1>Sign Up Page</h1>
<p id="signupStatus"></p>
<form action="" method="">
   <input type="text" id="username">
   <button type="button" id="submit">Sign Up</button>
</form>
<script src="/js/signup.js"></script>