<link rel="stylesheet" href="/css/index.css">

<div class="container">
   <div id="signinModal" class="row">
      <div class="col s7  center-align">
         <h1 class="blue darken-1">Sign In</h1>
         <p id="signinStatus"></p>
         <form action="" method="">
            <input type="text" id="signinUsername" placeholder="Enter your Username">
            <button type="button" id="signinSubmit" class="btn">Sign in</button>
         </form>
         <p>OR <br><button id="sign-up" class="btn">Sign Up</button></p>
      </div>
   </div>
   <div id="signupModal" class="row center-align">
      <div class="col s7">
         <h1 class="blue">Sign Up</h1>
         <p id="signupStatus"></p>
         <form action="" method="">
            <input type="text" id="signupUsername" placeholder="Enter a username here">
            <button type="button" id="signupSubmit" class="btn">Sign Up</button>
         </form>
         <p>OR <br><button id="sign-in" class="btn">Sign In</button></p>
      </div>
   </div>
</div>

<script src="/js/index.js"></script>

{{!-- Check localstorage if user exists auto redirect to fasting calculator --}}
{{!-- Create a sign-up and sign-in modals in this page --}}
{{!-- Need to store users info into local storage --}}
{{!-- Re-direct user to fasting calculator --}}