<div class="timer-body">
    <div class="valign-wrapper row">
        <div class="timer-container col s5">
            <h2 class="duration-header">Fast Duration</h2>
            <div class="row" style="padding-left: 10px; padding-right: 10px;">
                <button class="waves-effect waves-light btn col s6 timer-button">16 hr</button>
                <button class="waves-effect waves-light btn col s6 timer-button">24 hr</button>
            </div>
            <ul class="collapsible custom-dropdown">
                <li>
                    <div class="collapsible-header custom-dropdown-header"><i class="material-icons">keyboard_arrow_down</i>Custom</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="/js/timer.js"></script>